<div class="body">
    <mat-card class="example-cardOne">
        <div>
            <mat-card-content>
                <div mat-card-avatar class="example-header-image"></div>
            </mat-card-content>
            <mat-card-content class="contentBackground">
                <div class="content">
                    <mat-card class="example-card">
                        <mat-card-title>Registration</mat-card-title>

                        <mat-card-content>
                            <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()"
                                autocomplete="on">
                                <table class="example-full-width" cellspacing="10">
                                    <tr>
                                        <td>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>First name</mat-label>
                                                <input matInput type="text" formControlName="firstName"
                                                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                                    <div *ngIf="f.firstName.errors.required">First Name is required
                                                    </div>
                                                </div>
                                            </mat-form-field>

                                        </td>
                                        <td>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>LastName</mat-label>
                                                <input matInput type="text" formControlName="lastName"
                                                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                                                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                                </div>
                                            </mat-form-field>

                                        </td>
                                    </tr>
                                </table>



                                <table class="example-full-width" cellspacing="10">
                                    <tr>

                                        <td>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Date Of Birth</mat-label>
                                                <input matInput type="date" formControlName="dob"
                                                    [ngClass]="{ 'is-invalid': submitted && f.dob.errors }">
                                                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                                    <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                                                    <div *ngIf="f.dob.errors.pattern">Date of Birth must be a valid date
                                                        in
                                                        the format YYYY-MM-DD</div>
                                                </div>
                                            </mat-form-field>

                                        </td>
                                        <td>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Email</mat-label>
                                                <input matInput placeholder="example@example.com"
                                                    formControlName="email"
                                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                                    <div *ngIf="f.email.errors.email">Email must be a valid email
                                                        address
                                                    </div>
                                                </div>
                                            </mat-form-field>

                                        </td>
                                    </tr>
                                </table>

                                <table class="example-full-width" cellspacing="10">
                                    <tr>
                                        <td>
                                            <mat-form-field class="example-full-width">
                                                <mat-label> Password</mat-label>
                                                <input matInput [type]="hide ? 'password' : 'text'"
                                                    formControlName="password" 
                                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

                                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                </button>
                                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6
                                                        characters</div>
                                                </div>
                                            </mat-form-field>



                                        </td>
                                        <td>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Confirm Password</mat-label>
                                                <input matInput [type]="hide ? 'password' : 'text'"
                                                    formControlName="confirmPassword" 
                                                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                </button>
                                                <div *ngIf="submitted && f.confirmPassword.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is
                                                        required</div>
                                                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match
                                                    </div>
                                                </div>
                                            </mat-form-field>

                                        </td>
                                    </tr>
                                </table>
                                <div class="form-group form-check">
                                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms"
                                        class="form-check-input"
                                        [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                                    <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                                    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts &
                                        Cs is required</div>
                                </div>
                                <mat-card-actions>
                                    <button style="float: left;" mat-flat-button color="primary">Register</button>
                                    <button style="float: right;" mat-flat-button color="warn" type="reset"
                                        (click)="onReset()">Cancel</button>
                                </mat-card-actions>

                            </form>

                        </mat-card-content>

                    </mat-card>
                </div>
            </mat-card-content>
        </div>

    </mat-card>



</div>